VITE_FIREBASE_API_KEY=AIzaSyAtx202yd5LTz-1FXGgzQdWgRQh1D2WV5Q
VITE_FIREBASE_AUTH_DOMAIN=fiskespillet-6319e.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=fiskespillet-6319e
VITE_FIREBASE_STORAGE_BUCKET=fiskespillet-6319e.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=829769927625
VITE_FIREBASE_APP_ID=1:829769927625:web:8634c8d2d2ff6750237618
VITE_FIREBASE_MEASUREMENT_ID=G-KWF7WT3VCG
